{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Summary for {{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>View Statement</h2>
  {% if g.user %}
    <datalist id="categories">
    {% for c in session['categories'] %}
      <option value="{{ c[1] }}({{ c[0] }})">
    {% endfor %}
    </datalist>
    <form action="{{ url_for('summary.update_statement') }}" id="formdata" method="post"></form>
    <table>
      <tr><th>date</th><th>desc</th><th>amount</th><th>category</th></tr>
    {% for t in session['txns'] %}
      <tr>
        <td>{{ t[1] }}</td>
        <td style="word-wrap: normal;">{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>
          <input type="hidden" name="original-{{ t[5] }}" form="formdata"
          {% if t[4] %}
            value="{{ t[4] }}({{ t[0] }})"
          {% else %}
            value=""
          {% endif %}
          />
          <input list="categories" name="{{ t[5] }}" form="formdata"
          {% if t[4] %}
            value="{{ t[4] }}({{ t[0] }})"
          {% else %}
            value=""
          {% endif %}
          />
        </td>
      </tr>
    {% endfor %}
    </table>
    <br/>
    <button id="backButton" type="button" onclick="location.href='{{ url_for("summary.home") }}'">Back/Discard Changes</button>   
    <button id="saveButton" type="submit" form="formdata">Save changes</button>   
    <br/>
  {% else %}
    <p>No data. User must be logged in</p>
  {% endif %}
{% endblock %}
